<ul>
  <li>
    <a href="/">Help Home</a>
  </li>
  <li>
    <a href="/dashboard/">The Myna Dashboard</a>
    <ul>
      <li><a href="/dashboard/experiment/create/">Creating Experiments</a></li>
      <li><a href="/dashboard/experiment/results/">Monitoring Results</a></li>
      <li><a href="/dashboard/experiment/edit/">Editing Experiments</a></li>
    </ul>
  </li>
  <li>
    <a href="/deployment/">Deploying Experiments</a>
    <ul>
      <li><a href="/deployment/web/">Deploying to the Web</a></li>
      <li><a href="/deployment/mobile/">Deploying to Mobile</a></li>
    </ul>
  </li>

  <li>
    <a href="/api">Myna's REST API</a>
    <ul>
      <li><a href="/api/authentication">Authentication</a></li>
      <li><a href="/api/error-handling">Error Handling</a></li>
      <li><a href="/api/settings.html">Settings</a></li>
      <li><a href="/api/create">Creating an Experiment</a></li>
      <li><a href="/api/read">Reading an Experiment</a></li>
      <li><a href="/api/update">Updating an Experiment</a></li>
      <li><a href="/api/delete">Deleting an Experiment</a></li>
      <li><a href="/api/record">Recording Experiment Activity</a></li>
      <li><a href="/api/reset">Resetting an Experiment</a></li>
      <li><a href="/api/search">Searching for Experiments</a></li>
    </ul>
  </li>
</ul>
