<ul>
  <li>
    <a href="/">Help Home</a>
  </li>
  <li>
    <a href="/dashboard/">The Myna Dashboard</a>
    <ul>
      <li><a href="/dashboard/experiment/create/">Creating Experiments</a></li>
      <li><a href="/dashboard/experiment/results/">Monitoring Results</a></li>
      <li><a href="/dashboard/experiment/edit/">Editing Experiments</a></li>
    </ul>
  </li>
  <li>
    <a href="/deployment/">Deploying Experiments</a>
    <ul>
      <li><a href="/deployment/web/">Deploying to the Web</a></li>
      <li><a href="/deployment/mobile/">Deploying to Mobile</a></li>
    </ul>
  </li>

  <li>
    <a href="/api">Myna's REST API</a>
    <ul>
      <li><a href="/api/authentication.html">Authentication</a></li>
      <li><a href="/api/error-handling.html">Error Handling</a></li>
      <li><a href="/api/settings.html">Settings</a></li>
      <li><a href="/api/create.html">Creating an Experiment</a></li>
      <li><a href="/api/read.html">Reading an Experiment</a></li>
      <li><a href="/api/update.html">Updating an Experiment</a></li>
      <li><a href="/api/delete.html">Deleting an Experiment</a></li>
      <li><a href="/api/record.html">Recording Experiment Activity</a></li>
      <li><a href="/api/reset.html">Resetting an Experiment</a></li>
      <li><a href="/api/search.html">Searching for Experiments</a></li>
    </ul>
  </li>
</ul>
