<ul>
  <li>
    <a href="/">Help Home</a>
  </li>
  <li>
    <a href="/dashboard/">The Myna Dashboard</a>
    <ul>
      <li><a href="/dashboard/experiment/create/">Creating Experiments</a></li>
      <li><a href="/dashboard/experiment/results/">Monitoring Results</a></li>
      <li><a href="/dashboard/experiment/edit/">Editing Experiments</a></li>
    </ul>
  </li>
  <li>
    <a href="/deployment/">Deploying Experiments</a>
    <ul>
      <li><a href="/deployment/web/">Deploying to the Web</a></li>
      <li><a href="/deployment/mobile/">Deploying to Mobile</a></li>
    </ul>
  </li>
</ul>